@import "tailwindcss";

.swiper-button-disabled {
    opacity: 0.3 !important;
    pointer-events: none;
  }
  
  .thumbnail-swiper .swiper-slide-thumb-active {
    opacity: 1 !important;
    border: 2px solid #ec4899;
  }

  html {
    scroll-behavior: smooth;
  }
  
  .shadow-glass {
    box-shadow: 0 4px 24px rgba(0,0,0,0.05),
                inset 0 0 12px rgba(255,255,255,0.5);
  }
  
  .shadow-glass-hover {
    box-shadow: 0 6px 32px rgba(0,0,0,0.1),
                inset 0 0 16px rgba(255,255,255,0.8);
  }

  